<h1>Star Wars - Species</h1>
<p>There are a total of : <%= pluralize @species.count, 'specie'%> species.</p>
<ul>
<% @species.each do |specie| %>
<li><%= specie.name %><%=link_to '[...]', specie%></li>
<% end %>
</ul>

