<h1>Star Wars - Planets</h1>
<p>There are a total of : <%= pluralize @planets.count, 'planet'%> planets.</p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Population</th>
      <th>More Infos</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <%= render @planets %>
  </tbody>
</table>






