<h1>Star Wars - Planets</h1>
<p>There are a total of : <%= pluralize @planets.count, 'planet'%> planets.</p>

<ul>
<% @planets.each do |planet| %>
<li><%= planet.name %><%=link_to '[...]', planet%></li>
<% end %>
</ul>




