<h1>Star Wars - Characters</h1>
<p>There are a total of : <%=@characters.count%> characters.</p>
<ul>
<% @characters.each do |character| %>
<li><%= character.name %><%=link_to '[...]', character%></li>
<% end %>
</ul>

