<h1>Star Wars - Characters</h1>
<p>There are a total of : <%=@characters.count%> characters.</p>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Gender</th>
      <th>More Infos</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <%= render @characters %>
  </tbody>
</table>


