<h1>Star Wars - Starships</h1>
<p>There are a total of : <%= pluralize @starships.count, 'starship'%> starships.</p>
<ul>
  <% @starships.each do |starship| %>
  <li><%= starship.name %><%=link_to '[...]', starship%></li>
  <% end %>
</ul>
